.windowheader {
	height: 32px;
    padding: 10px;
    cursor: grab;
    z-index: 10;
    background-color: #EF6200;
    color: #fff;
}

.headertext {
	float:left;
	text-align: center;
}

.closewindow {
	float: right;
	cursor: pointer;
}

#clockinclickoutinfo {
	float: left;
    padding: 20px;
}

#time {
	color: white;
}

#timecardempname {
	font-weight: bolder;
}

#clockedintime {
	font-weight: bold;
	color: #EF6200;
}

.timerheader {
	float: left;
	width: 100px;
	padding: 10px;
	font-size: 10px;
	font-weight: bolder;	
}

.currenttimeheader {
	clear: left;
	margin-left: 50px;
}

.timer {
	float: left;
	width: 100px;
	padding: 10px;
}

.currenttimer {
	clear: left;
	margin-left: 50px;
}

#timecardhr {
	clear: left;
	width: 95%;
	margin-left: 10px;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
}

.timecardjob {
	float: left;
	clear: both;
	font-weight: bolder;
}

.jobbtndiv {
	float: right;
}

.jobbtn {
	background-color: #286090;
	color: #fff;
}

#jobdiv {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.mainclockinoutbtn {
	height: 50px;
	width: 125px;
	color: #fff;
	margin-top: 25px;
	margin-left: 150px;
	font-size: 20px;
}

#mainclockinbtn {
	background-color: #286090;
}

#mainclockoutbtn {
	background-color: #EF6200;
}

#mainclockinbtndiv {
	clear: both;
	float: left;
}

#mainclockoutbtndiv {
	display: none;
	clear: both;
	float: left;
}

.window {
	display: none;
	position: absolute;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
	-moz-box-shadow: 5px 10px 3px #ccc;
	-webkit-box-shadow: 5px 10px 3px #ccc;
	box-shadow: 5px 10px 3px #ccc;	
}

.editeventwindow {
	display: none;
    position: absolute;
	z-index: 100;
    background-color: #f1f1f1;
     border: 1px solid #d3d3d3;
	-moz-box-shadow: 5px 10px 3px #ccc;
	-webkit-box-shadow: 5px 10px 3px #ccc;
	box-shadow: 5px 10px 3px #ccc;	
}

.schedulerdimensions {
	width: 1200px;
	height: 900px;
}

.timecarddimensions {
	width: 400px;
	height: 375px;
}

.editeventdimensions {
	width: 400px;
	height: auto;
	left: 1510px;
}

.editjobsdimensions {
	width: 800px;
	overflow: auto;
}

.schedulertable tr td {
	width: 200px;
	text-align: center;
	border: 1px solid #ccc;
	font-weight: bolder;
	padding: 15px;
	font-size: 13px;
}

.schedulertable tr th {
	width: 200px;
	text-align: center;
	border: 1px solid #ccc;
	font-weight: bolder;
	padding: 15px;
	font-size: 13px;
}

#employee tr td {
	border: none;
	padding: 0px;
}

#editeventform {
	padding: 25px;
}

.front-on-click {
	position: absolute;
}

.front{
    z-index:100;
}

#directionalarrows {
	cursor: pointer;
	padding: 10px;
}

#weekDateRange {
	font-weight: bolder;
	padding: 10px;
}

#viewPicker {
	padding: 10px;
}

#caleandardiv {
	display: none;
}

input, label {
    display:block;
	/* padding: 15px; */
	padding-right: 15px;
}

label {
	font-size: 15px;
	font-weight: bolder;
	color: #777;
	padding-bottom: 5px;
}

#totaltime {
	float: left;
	padding-top: 20px;
	font-weight: bolder;
	color: #777;
}

#eventstartdatediv {
	float: left;
}

#eventtimeouterdiv {
	clear: both;
	float: left;
	padding-top: 10px;
}

#eventstarttimediv {
	float: left;
	padding-bottom: 15px;
}

#eventendtimediv {
	float: left;
}

.formelementlabel {
	text-align: left;
}

.formelementdiv {
	clear: both;
	float: left;
	padding-bottom: 15px;
}

#eventbill {
	text-align: left;
}

.dayoftheweek {
	font-weight: bolder;
	color: #777;
}

.emptable {
	font-weight: bolder;
	color: #777;
}

.standardbtn {
	float: left;
	font-size: 14px;
	min-width: 75px;
	padding: 4px 8px 7px 8px;
	background-color: #DADADA;
	color: #333333;
	font-weight: bolder;
}

.savejobbtn {
	float: right;
	font-size: 14px;
	min-width: 75px;
	padding: 4px 8px 7px 8px;
	background-color: #EF6200;
	color: #333333;
	font-weight: bolder;
}

.addjobbtn {
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	margin: 4px;
}

.standardbtn:hover {
    background-color: #AAAAAA;
    color: #333333;
}

.editjobsmaincontent {
	padding: 15px;
	overflow: auto;
}

.topfolderlink {
	clear: both;
	float: left;
	padding-top: 25px;
	padding-left: 4px;
	padding-bottom: 20px;
}

.joblist {
	clear: both;
	float: left;
	padding-left: 4px;
}

.joblink {
	text-decoration: none;
	color: #333333;
	cursor: pointer;
	font-size: 18px;
}

.jobcodepage {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.jobnames {
	width: 500px;
	cursor: pointer;
	float: left;
	text-align: left;
	background-color: #BCE5FF;
	border-radius: 5px 0px 0px 5px;
	margin-bottom: 5px;
}

.jobactions {
	float: right;
	background-color: #BCE5FF;
	width: 250px;
	text-align: right;
	border-radius: 0px 5px 5px 0px;
}

.jobdetails {
	width: 750px;
	height: 25px;
}

.jobcodelistitem {
	color: #BCE5FF;
}

.searchtitle {
	font-size: 12px;
	font-weight: bolder;
	float: right;
}

.editjobcodelabel {
	float: left;
	padding-top: 8px;
}

.jobcodesearch {
	float: right;
	padding-right: 20px;
}

.addjobform {
	display: none;
	clear: both;
	float: left;
	width: 100%;
	background-color: white;
}

.addjobcheckbox {
	clear: both;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

.editjobcodechkboxlabel {
	float: right;
	padding-right: 10px;
	padding-top: 3px;
}

.addjobname {
	float: left;
	margin-right: 50px;
}